footer {
  padding: $spacing;
  display: flex;
  flex-direction: column;
  margin: 2 * $spacing 0 2 * $spacing 0;

  p {
    padding: 0 $spacing;
    width: 100%;
    max-width: $max-width;
    font-size: 1.2rem;
    margin: 0 auto;
    line-height: 100%;

    @include media('<=phone') {
      padding: 0;
    }

    &:first-child {
      padding-bottom: $spacing / 2;

      &::before {
        display: block;
        content: '';
        border-top: 4px solid var(--color-dark);
        width: 10%;
        padding-bottom: $spacing;
      }
    }
  }

  .footer-sub {
    font-size: 1.0rem;
    color: var(--color-dark-lighten-40);
  }
}
