.logo {
  @include link-reset;
  height: 53px;
  position: relative;
  z-index: 1;
  margin: 0 $spacing;
  padding-top: $spacing;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @include media('>small') {
    max-width: $max-width;
    width: 80%;
    margin: auto;
    padding: $spacing;
  }

  > a {
    background: var(--color-theme);
    color: var(--color-light);
    padding: $spacing;
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      color: var(--color-light);

      @media (prefers-color-scheme: dark) {
        color: var(--color-dark);
      }
    }
  }

  .menu {
    z-index: 10;
    position: relative;

    .burger-icon {
      @include burger(25px, 3px, 5px, var(--color-light));

      @media (prefers-color-scheme: dark) {
        @include burger(25px, 3px, 5px, var(--color-dark));
      }
    }

    &.is-active .burger-icon {
	    @include burger-to-cross;
    }
  }


  h1 {
    font-size: 2rem;
    padding-left: 2 * $spacing;
    margin: 0;
    content: "IM";
    width: auto;
    font-weight: normal;
  }
}
