// For the body element
.js-overflow {
  overflow: hidden;
}

nav {
  background-color: var(--color-dark);
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 50px 40px 60px 40px;
  overflow-y: auto;
  transform: translateX(100%);
  @include transition(transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86));

  @media (min-width: 667px) {
    padding: 50px 90px 70px 90px;
  }

  .nav_pages {
    list-style-type: none;

    li {
      margin-bottom: 20px;
      transform: translateX(40px);
      opacity: 0;
      @include transition(all .5s ease);

      &:last-of-type {
        margin-bottom: 0px;
      }

      > a {
        color: var(--color-light);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 3.2rem;
        display: block;
        letter-spacing: 5px;
        font-weight: 600;
        padding: 20px 0;
        @include transition(all .5s ease);
      }
    }
  }

  .nav_links {
    list-style-type: none;
    margin-top: 25px;
    transform: translateX(40px);
    opacity: 0;
    @include transition(all .5s ease);

    &:before {
      content: '';
      display: block;
      border-top: 2px solid var(--color-light);
      width: 80%;
      margin-bottom: 15px;
    }

    li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0px;
      }

      a {
        color: var(--color-light);
        letter-spacing: 1px;
        font-size: 2.4rem;
        padding: 10px 0;
        display: block;
        text-decoration: none;
        @include transition(all .5s ease);

        &:hover {
          color: var(--color-theme);
        }
      }
    }
  }

  &.show {
    transform: translateX(0px);

    .nav_pages {
      li {
        transform: translateX(0px);
        opacity: 1;
      }
    }

    .nav_links {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
