.featured {
  margin: 3 * $spacing 0 $spacing 0;
  padding: $spacing;
  background: var(--color-dark);
  color: var(--color-light);

  .meta {
    border-top: 3px solid var(--color-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h5 {
      font-size: 1.4rem;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--color-light);
    }

    time {
      font-size: 1.4rem;
      font-weight: lighter;
      padding: 0;
    }
  }

  h3 {
    @include link-reset;

    font-size: 3.2rem;
    margin: $spacing 0;
    font-weight: lighter;
    color: var(--color-light);
  }

  p {
    margin: 0;
    font-weight: lighter;
  }
}
